*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    list-style: none;
    display: inline-block;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav ul li a{
    color: #555;
    text-decoration: none;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
p{
    color: #555;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.row h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #ff535b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.5s;
}
.btn:hover{
    background: #563434;
}
.header{
    background: radial-gradient(#fff, #87ceeb);
}
.header .row{
    margin-top: 70px;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

@media only screen and (max-width:800px){
    nav ul{
       position: absolute;
       left: 0;
       width: 100%;
       background-color: #333;
       top: 70px;
       transition: all 0.5s;
       overflow: hidden;
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 50px;
    }
    nav ul li a{
        color: #ffffff;
        font-weight: 500;
    }
    .menu-icon{
        display: block;
        transition: all 0.5s;
    }
}

/*-----categories---------*/
.categories{
    margin-top: 70px;

}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
/*-------feature products---------*/
.col-4{
    flex-basis: 25%;
    min-width: 200px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 50px;
    transition: 0.5s;
}
.col-4 img{
    width: 100%;
}
.col-4 h4{
    color: #555;
    font-weight: 600;
}
.title{
    margin: 0 auto 80px;
    text-align: center;
    font-size: 28px;
    color: #555;
    line-height: 60px;
    position: relative;
}
.col-4 p{
    color: #555;
    font-weight: normal;
}
.col-4 a{
    text-decoration: none;
    line-height: 30px;
}
.title::after{
    content: "";
    background: #87ceeb;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.rating .fa{
    color: #ff535b;
}
.col-4:hover{
    transform: translateY(-5px);
    transition: 0.5s;
}

/*-----offers------*/
.offers{
    background: radial-gradient(#ffffff, #85ceeb);
    padding: 30px 0;
    margin-top: 80px;
}
.offers .offers-img{
    padding: 50px;
}
small{
    color: #555;
}
/*----testimonial-------*/
.testimonial{
    padding-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: 0.5s;
}
.testimonial .col-3 img{
    width: 50px;
    margin: 20px 0;
    border-radius: 50%;
}
.col-3 p{
    font-size: 12px;
    color: #777;
    margin: 30px 0;
    font-weight: normal;
}
.col-3 h3{
    font-size: 16px;
    color: #555;
}
.fa.fa-quote-left{
    color: #ff535b;
    font-size: 34px;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}

/*-----brands---------*/
.brands{
    margin: 100px auto;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}
/*-----footer --------*/
.footer{
    background-color: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
}
.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3,.footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 30px 0;
}
.copyright{
    flex: 1;
    text-align: center;
}
/*---All Products--------*/
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
    padding: 0 20px;
}
.header-one{
    background: #fff;
}
select{
    border: 1px solid #ff535b;
    padding: 5px;

}
select:focus{
    outline: none;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #ff535b;
    text-align: center;
    line-height: 40px;
    margin-left: 10px;
    cursor: pointer;
}
.page-btn span:hover{
    background: #ff535b;
    color: #fff;
}
/*-----account-page-------*/
.account-page{
    padding: 50px 0;
    background: radial-gradient(#ffffff, #85ceeb);
}
.form-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    padding: 20px 0;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
    text-align: center;
    margin: auto;
}
.form-btn{
    display: inline-block;
}
.form-btn span{
    padding: 0 10px;
    width: 100px;
    color: #555;
    cursor: pointer;
    margin: auto;
    font-weight: bold;
    display: inline-block;
    transition: transform 1s;
}
.form-container form{
    max-width: 300px;
    position: absolute;
    padding: 0 20px;
    top: 130px;
    transition: translate 1s;
    overflow: hidden;
}
.form-container form input{
   width:100%;
   padding: 8px 5px 5px 8px;
   margin: 10px 0;
   cursor: pointer;
}
#loginform{
    left: -300px;
}
#registerform{
    left: 0;
}
#indicator{
    width: 100px;
    height: 3px;
    border: none;
    background: #ff535b;
    margin-top: 8px;
    transition: transform 1s;
    transform: translateX(100px);
}
form a{
    font-size: 12px;
    display: block;
}
/*-----cart-page details-------*/
.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    border:5px;
    text-align: left;
    background: #ff535b;
    color: #ffffff;
    font-size: 20px;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: #ff535b;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.totsl-price{
    display: flex;
    justify-content: flex-end;
}
.totsl-price table{
    border-top: 1px solid #ff535b;
    width: 100%;
    max-width: 400px;
}
td:last-child, th:last-child{
    text-align: right;
}
/*------ single-product details---------*/
.single-product{
    margin-top: 80px;
}
.single-product .col-2{
    padding: 20px;
}
.single-product .col-2 img{
    padding: 0px;
}
.small-product-row{
    display: flex;
    justify-content: space-between;
}
.small-product-col{
    flex-basis: 24%;
    margin-top: 20px;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 40px;
    border: 1px solid #ff535b;
    padding-left: 5px;
    margin-right: 10px;
    font-size: 20px;
}
.single-product input:focus{
    outline: none;
}
.single-product .fa{
    margin-left: 20px;
    color: #ff535b;
}